.recipe-detail-info {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  padding: 1rem;
}

.center {
  text-align: center;
}

.recipe-detail-image {
  object-fit: cover;
  margin-right: 1rem;
}

@media screen and (max-width: 750px) {
  .recipe-detail-info {
    flex-direction: column;
  }

  .recipe-detail-image {
    width: 100%;
  }
}
