.recipe-input {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  overflow-y: scroll;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: var(--primary-color);
  color: white;
  position: relative;
}

.recipe-input-close-icon {
  font-size: x-large;
  position: absolute;
  top: 5px;
  right: 15px;
}

label {
  margin-top: 1rem;
}

input {
  padding: 0.5rem;
  font-size: medium;
}

.recipe-input textarea {
  resize: none;
}

.recipe-input .heading {
  margin: 0;
  text-align: center;
}

.recipe-input input[type="submit"] {
  font-weight: bold;
  font-size: 1.05rem;
}
