.home-page {
  /* padding: 2rem 4rem; */
  max-width: 80%;
  margin: auto;
}

.app-main-heading {
  text-align: center;
  margin: 0.5rem 0 2rem 0;
  color: var(--primary-color);
}

.recipes-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.add-recipe-icon {
  color: rgba(0, 0, 0, 0.3);
  font-size: xx-large;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .recipes-container {
    justify-content: center;
  }
}
